// *{
//     box-sizing: border-box;
// }
.comic-card{
    width: 300px;
    background-color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    // border: 0.5px black solid;
    border-radius: 1px;
    vertical-align: top;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.comic-description{
    // width: 20ch;
    // overflow: hidden;
    // white-space: nowrap;
    // white-space: wrap;
    // text-overflow: ellipsis;
    text-align: justify;
}

img{
    border-bottom: solid black 2px;
}




.comic-details{
    padding: 10px;
}

h3{
    // background-color: blue;
}
