<!-- <div class="heroe-list">
    <app-heroe-card *ngFor="let character of characters" [character]="character"></app-heroe-card>
</div> -->
<div class="row row-cols-1 row-cols-md-6 g-4">
  <app-heroe-card
    *ngFor="let character of characters"
    [character]="character"
  ></app-heroe-card>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
