<div class="heroe-details p-2 text-bg-dark" *ngIf="character">
  <img [src]="imgCharacter" alt="" srcset="" />
  <div class="info p-2">
    <h2 class="description-character">{{ character![0].name }}</h2>
    <br />
    <p
      class="description-character"
      *ngIf="character![0].description; else noBio"
    >
      Bio: {{ character![0].description }}
    </p>
    <ng-template #noBio>
      <p class="description-character">Bio: No bio</p>
    </ng-template>
    <br />
    <div class="comics-compilation">
      <!-- Comics: <a [routerLink]="['comics']">{{character![0].comics!.available}}</a>  -->
      <span class="strong">Comics:</span>
      <a
        [routerLink]="['../../comics-list', character![0].id]"
        class="text-decoration-none"
        >{{ character![0].comics!.available }}</a
      >
      <br />
      <span>Series:</span> {{ character![0].series!.available }} <br />
      <span>Events:</span> {{ character![0].events!.available }} <br />
      <span>Stories:</span> {{ character![0].stories!.available }}
    </div>
  </div>
</div>

<app-comic-list></app-comic-list>
