<div class="container-fluid bg-primary">
  <div class="row-cols-12">
    <div class="row bg-danger">
      <div class="col-md-6 flex-grow-1">
        <table class="table">
          <thead class="table-light">
            <tr>
              <th>Comic</th>
              <th>Title</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cart">
              <ng-container *ngIf="item; else emptycart">
                <app-cart-item [item]="item"></app-cart-item>
              </ng-container>
              <ng-template #emptycart>
                <h2>There is not comic</h2>
              </ng-template>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6 flex-grow-1">
        Checkout
        <span>Total a pagar {{ total | currency : "USD" }}</span>
      </div>
    </div>
  </div>
</div>
